body {
    margin: 5px;
}
.nav {
    text-align: center;
    height: 30%;
    background-color: blue;
    font-size: xx-large;
    font-style: initial;
    font-weight: bold;
    padding: 20px 0px;
}

#filters {
    margin-top: 3%;
    margin-left: 3%;
}

#filters > label {
    margin-right: 2%;
}
#okrs {
    text-align: left;
    margin-left: 2%;
}

.triangle-down {
    width: 0;
    height: 0;
    margin-right: 1.5%;
    display: inline-block;
    cursor: pointer;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #555;
}

.triangle-right {
    width: 0;
    height: 0;
    margin-right: 1.5%;
    display: inline-block;
    cursor: pointer;
    border-top: 8px solid transparent;
    border-left: 12px solid #555;
    border-bottom: 8px solid transparent;
}

.parent-title-class {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    /* background-color: antiquewhite; */
    width: 100%;
}

.child-title-class {
    line-height: 40px;
    margin-left: 3%;
}